name: MultiSelect

workflow_dispatch:
  inputs:
    environment:
      description: Deploy environment name
      type: choice
      required: false
      options:
        - staging
        - production
        - all
      default: all
